.gundam-main {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
}

.gundam-title {
  margin-top: 1px;
}

.gundam-title-text {
  font-size: 26px;
  font-weight: 500;
}

.gundam-title-grade {
  font-size: 20px;
  font-weight: 400;
}

.gundam-info-main {
  display: flex;
  flex-direction: row;
}

.gundam-left {
  width: 720px;
  display: flex;
  flex-direction: column;
}

.gundam-left-info {
  width: 798px;
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 20px 20px 20px;
  z-index: 5;
}

.gundam-img {
  display: flex;
  flex-direction: row;
}

.gundam-highlight-img {
  height: 600px;
  width: 600px;
  margin-right: 10px;
}

.gundam-mini-img-card {
  display: flex;
  flex-direction: column;
}

.gundam-mini-img {
  width: 190px;
  height: 190px;
  margin-bottom: 14.5px;
  border-radius: 5px;
}

.gundam-mini-img:hover {
    cursor:pointer;
}

.gundam-left-comments {
    margin-bottom: 100px;
}

.gundam-left-description {
    margin-top: 10px;
    border-top: 1px solid whitesmoke;
}

.gundam-description {
    margin-top: 10px;
}

.gundam-info-right {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 260px;
    margin-left: 160px;
    z-index: 1;
    border-radius: 5px;
    background-color: rgba(38, 39, 38, 0.6);
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 250px;
}

.gundam-submitted {
  display: flex;
  flex-direction: column;
}

.gundam-img-submit {
  display: flex;
  flex-direction: row;
}

.gundam-user-img {
  height: 50px;
  width: 50px;
}
