.gundam-main {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  margin-bottom: 70px;
}

.gundam-title {
  margin-top: 1px;
}

.gundam-title-text {
  font-size: 26px;
  font-weight: 500;
  word-wrap: break-word;
}

.gundam-title-grade {
  font-size: 20px;
  font-weight: 400;
}

.gundam-info-main {
  display: flex;
  flex-direction: row;
}

.gundam-left {
  width: 720px;
  display: flex;
  flex-direction: column;
}

.gundam-left-info {
  width: 798px;
  background-color: rgba(38, 39, 38, 0.9);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 20px 20px 20px;
  z-index: 5;
}

.gundam-img {
  display: flex;
  flex-direction: row;
}

.gundam-highlight-img {
  height: 600px;
  width: 600px;
  margin-right: 10px;
}

.gundam-mini-img-card {
  display: flex;
  flex-direction: column;
}

.gundam-mini-img {
  width: 190px;
  height: 190px;
  margin-bottom: 14.5px;
  border-radius: 8px;
}

.gundam-mini-img:hover {
  cursor: pointer;
}

.gundam-left-comments {
  margin-top: 20px;
  width: 798px;
  background-color: rgba(38, 39, 38, 0.9);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 20px 20px 20px;
  z-index: 5;
}

.gundam-left-description {
  margin-top: 10px;
  border-top: 1px solid whitesmoke;
}

.gundam-description {
  margin-top: 10px;
  word-wrap: break-word;
}

.gundam-info-right {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 260px;
  margin-left: 160px;
  z-index: 1;
  border-radius: 8px;
  background-color: rgba(38, 39, 38, 0.9);
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.gundam-submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
}

.gundam-img-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 50px;
  margin: 0 auto;
  margin-top: 10px;
}

.gundam-user-img {
  height: 70px;
  width: 70px;
  border-radius: 8px;
}

.gundam-link {
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  width: 130px;
  background-color: rgba(128, 0, 128, 0.589);
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 500;
}

.gundam-link:active {
  transform: translateY(4px);
}

.gundam-upvotes {
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  width: 140px;
  background-color: rgb(4, 9, 22, 0.6);
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
}

.gundam-upvotes:active {
  transform: translateY(4px);
}

.gundam-edit-btn {
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  width: 140px;
  background-color: rgba(18, 63, 175, 0.459);
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
}

.gundam-edit-btn:active {
  transform: translateY(4px);
}

.gundam-delete-btn {
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  width: 140px;
  background-color: rgb(158, 0, 0, 0.9);
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  margin-top: 100px;
}

.gundam-delete-btn:active {
  transform: translateY(4px);
}

.gundam-link,
.gundam-delete-btn,
.gundam-edit-btn,
.gundam-upvotes {
  cursor: pointer;
}

.gundam-comment-title {
  font-size: 20px;
}

.comment-card {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.comment-user-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 71.3px;
  align-items: center;
  margin-right: 20px;
}

.comment-user {
  font-size: 18px;
}

.comment-comment {
  width: 580px;
  margin-right: 10px;
  word-wrap: break-word;
}

.comment-img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 2px;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
}

.comment-date {
  font-size: 14px;
}

.comment-textarea {
  width: 580px;
  height: 60px;
  font-size: 16px;
  resize: none;
  background-color: rgba(237, 243, 238, 0.24);
  color: whitesmoke;
  outline: none;
  border: none;
  white-space: pre-line;
}

.comment-textarea:focus {
  outline: none;
  border: none;
}

.gundam-comment-post-input {
  width: 790px;
  height: 70px;
  font-size: 16px;
  resize: none;
  background-color: rgba(237, 243, 238, 0.24);
  color: whitesmoke;
  outline: none;
  border: none;
  white-space: pre-line;
}

.gundam-comment-post-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.gundam-comment-post-input:focus {
  outline: none;
  border: none;
}

.comment-submits {
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: rgba(225, 217, 209, 1);
  background-color: rgb(216, 24, 24);
  text-align: center;
  font-size: 20px;
  border-radius: 7px;
  border: none;
  margin-left: 20px;
}

.comment-submit {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgba(49, 197, 23, 0.795);
  text-align: center;
  font-size: 16px;
  border-radius: 7px;
  width: 100px;
  border: none;
  height: 30px;
  margin-top: 10px;
}
.comment-submit:active {
  transform: translateY(2px);
  background-color: rgb(39, 160, 93);
}

.comment-edit-submit {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgba(49, 197, 23, 0.795);
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  width: 75px;
  border: none;
  height: 30px;
  margin-top: 10px;
  margin-right: 15px;
}

.comment-edit-submit:active {
  transform: translateY(2px);
  background-color: rgb(39, 160, 93);
}

.comment-edit-cancel {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(216, 24, 24);
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  width: 75px;
  border: none;
  height: 30px;
  margin-top: 10px;
  margin-right: 15px;
}

.comment-edit-cancel:active {
  transform: translateY(2px);
}

.comment-buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: -10px
}

.comment-edit {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(7, 145, 122);
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  width: 80px;
  border: none;
  height: 30px;
  margin-top: 10px;
}

.comment-delete {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(216, 24, 24);
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  width: 80px;
  border: none;
  height: 30px;
  margin-top: 10px;
}

.comment-edit:active, .comment-delete:active {
  transform: translateY(4px);
}
