.body {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px;
}

.body-container {
  display: flex;
  margin: 0 auto;
  color: rgba(225, 217, 209, 1);
  margin-top: 1rem;
}

.title-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.sort {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  float: right;
}

.sort:hover {
  cursor: pointer;
}

.head-card {
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 45rem;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 105px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.last-card {
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.last-card:hover {
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.upcoming-container {
  background-color: rgba(38, 39, 38, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  border-radius: 5px;
}

.side-card {
  display: flex;
  width: 20rem;
  height: 5rem;
  padding: 20px 20px 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.underline {
  text-decoration: underline;
}

.upcoming-img {
  height: 80px;
  width: 80px;
  border-radius: 5px;
}

.upcoming-text {
  font-size: 16px;
  font-weight: 500;
}

.upcoming-details {
  margin-left: 10px;
}

.side-card:hover {
  background-color: rgba(38, 39, 38, 0.9);
}

.side-container.home {
  width: 362px;
}

.profile-comments-title.text {
  font-size: 24px;
  font-weight: normal;
}

.profile-comment.home-text {
  margin-bottom: -20px;
}

.profile-comment-source.home-text {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.profile-comment-card.text {
  height: 78px;
}

.profile-img-home {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
