.body {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    margin-bottom: 70px;
}

.body-container {
  display: flex;
  margin: 0 auto;
  color: rgba(225, 217, 209, 1);
  margin-top: 1rem;
}

.title-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.sort {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  float: right;
}

.sort:hover {
  cursor: pointer;
}

.head-card {
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 45rem;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 105px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.last-card {
  padding: 10px 20px 10px 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.upcoming-container {
  background-color: rgba(38, 39, 38, 0.6);
  border: 0.5px solid white;
}

.side-card {
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  border-bottom: 0.5px solid white;
}

.underline {
  text-decoration: underline;
}
