.settings-main {
  width: 1070px;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
}

.settings-change {
  width: 716px;
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid #ffffff80;
  padding: 20px 20px 20px 20px;
  font-size: 16px;
}

.settings-img-change {
  width: 332px;
  margin-left: 20px;
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 20px 20px 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}

.settings-img {
  margin-top: 10px;
  border-radius: 50%;
  object-fit: cover;
  height: 150px;
  width: 150px;
  vertical-align: bottom;
}

.settings-label {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.settings-input {
  background-color: rgba(237, 243, 238, 0.24);
  color: rgba(225, 217, 209, 1);
  font-size: 16px;
  border: 0.5px solid black;
}

.settings-input:focus {
  outline: none;
}

.settings-buttons {
 display: flex;
 margin-top: 10px;
}

.settings-cancel {
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(216, 24, 24);
  width: 4rem;
  text-align: center;
  font-size: 16px;
}

.settings-cancel:active {
  transform: translateY(4px)
}

.settings-submit {
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  color: rgba(225, 217, 209, 1);
  background-color: rgb(7, 107, 77);
  text-align: center;
  font-size: 16px;
  border: none;
}

.settings-submit:active {
  transform: translateY(4px)
}
