.profile-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.profile-top {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 1070px;
  background-color: rgba(81, 85, 81, 0.9);
  height: 250px;
  border-radius: 5px;
}

.profile-img-card {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-left: 35px;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  border: 5px solid rgb(27, 27, 27);
}

.profile-username {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.profile-description {
  margin-bottom: 15px;
}

.edit-profile {
  margin-top: 1px;
  background-color: rgba(38, 39, 38, 1);
  border: 1px solid white;
  padding: 5px 5px 5px 5px;
}

.edit-profile:hover {
  cursor: pointer;
}

.edit-profile:active {
  transform: translateY(2px);
}

.profile-bottom {
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  width: 1070px;
}

.profile-bottom-left {
  display: flex;
  flex-direction: column;
}

.profile-upvotes {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.profile-activity {
  width: 716px;
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
}

.activity-card {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 105px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.activity-card-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 502px;
}

.activity-card:hover {
  background-color: rgba(38, 39, 38, 0.9);
  cursor: pointer;
}

.activity-img {
  height: 100px;
  width: 100px;
  border-radius: 4px;
}

.activity-description {
  margin-left: 10px;
}

.activity-title {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  word-wrap: break-word;
}

.activity-upvote {
  text-align: center;
  z-index: 25;
  color: black;
  height: 50px;
  width: 70px;
  float: right;
  cursor: pointer;
  background-color: rgb(4, 9, 22);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.activity-upvote:active {
  transform: translateY(-4px);
}

.profile-bottom-right {
  width: 332px;
  margin-left: 20px;
}

.profile-comments {
  height: 30px;
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 20px 20px 20px;
  margin-top: 3rem;
  font-size: 20px;
  display: flex;
}

.fas {
  margin-right: 10px;
  margin-top: 3px;
}

.user-joined {
  font-weight: lighter;
}

.profile-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.profile-load {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 1070px;
  background-color: rgba(81, 85, 81, 0.9);
  height: 250px;
  border-radius: 5px;
  font-size: 5rem;
}

.profile-comments-title {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.profile-comments-right {
  display: flex;
  flex-direction: column;
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 20px 20px 20px;
  font-size: 16px;
}

.loading-img {
  margin-top: 2rem;
  margin: 0 auto;
}

.profile-submitted {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.profile-comment-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 502px;
}

.profile-comment-container{
  background-color: rgba(38, 39, 38, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 60px;
}

.profile-comment-card {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  word-wrap: break-word;
}

.profile-comment-card:hover, .see-more:hover {
  background-color: rgba(38, 39, 38, 0.9);
  cursor: pointer;
}

.profile-comment {
  margin: 0;
  word-wrap: break-word;
  width: 290px;
  height: 50px;
}

.see-more {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 20px 20px 20px;
  height: 15px;
}

.profile-comment-source {
  font-size: 14px;
}
