.header {
  display: flex;
  box-shadow: 0 0 1px 1px rgb(57, 62, 63);
  top: 0;
  position: sticky;
  z-index: 20;
  height: 40px;
  flex-direction: row;
  align-items: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  /* justify-content: space-between; */
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-color: rgba(38, 39, 38, 0.9);
}

.header-icon {
  fill: rgb(218, 85, 47);
  margin-right: 1rem;
  transition: 2s all;
}

.search-focus {
  background-color: rgb(49, 53, 50);
  transition: all 2s;
  width: 100%;
  z-index: 1;
}

.search {
  line-height: normal;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  height: 1.5rem;
  background-color: rgba(237, 243, 238, 0.24);
  color: rgba(225, 217, 209, 1);
  font-family: inherit;
}

.search::-webkit-input-placeholder {
  color: rgba(225, 217, 209, 1);
}

.gundam-dropbtn {
  background-color: transparent;
  color: rgba(225, 217, 209, 1);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.gundam-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(38, 39, 38, 1);
  min-width: 20rem;
  border-radius: 10px;
}

.gundam-dropdown-content a {
  color: rgba(225, 217, 209, 1);
  padding: 15px 15px;
  text-decoration: none;
  display: block;
}

.gundam-dropdown-content a:hover {
  background-color: rgba(38, 39, 38, 0.6);
}

.gundam-dropdown:hover .gundam-dropdown-content {
  display: block;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: rgba(225, 217, 209, 1);
  font-size: 16px;
}

.search-results {
  position: absolute;
  background-color: rgba(38, 39, 38, 1);
  left: 0;
  bottom: inherit;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.search-container {
  position: relative;
  flex: 0 0 10%;
}

.search-container-focus {
  flex: 0 0 94%;
}

.results {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#img-top {
  height: 4rem;
  width: 5rem;
}

.nav-right {
  text-align: right;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.gundam-dropdown-content-right {
  right: 0;
}

.gundam-dropdown-content-right a:hover {
  background-color: rgba(38, 39, 38, 0.6);
}

.gundam-dropdown-content-right {
  display: none;
  position: absolute;
  background-color: rgba(38, 39, 38, 1);
  min-width: 10rem;
  border-radius: 10px;
  text-align: left;
  margin-right: 30px;
}

.gundam-dropdown-content-right a {
  color: rgba(225, 217, 209, 1);
  padding: 15px 15px;
  text-decoration: none;
  display: block;
}

.gundam-dropdown:hover .gundam-dropdown-content-right {
  display: block;
}

.gundam-dropdown-content-right div {
  color: rgba(225, 217, 209, 1);
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.submit-post {
  background-color: transparent;
  color: rgba(225, 217, 209, 1);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.submit-post:hover {
  cursor: pointer;
}

.nav-profile-image {
  /* clip-path: circle(); */
  border-radius: 50%;
  object-fit: cover;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
  border: 5px solid rgb(27, 27, 27);
}

.inner-results {
  display: flex;
  flex-direction: column;
}

.search-img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
}

.disabled {
  display: none;
}

.nopointer:hover {
  cursor: default;
}
