.login-form {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 700px;
  background-color: rgba(38, 39, 38, 1);
  align-items: center;
  justify-content: center;
  background-image: url('https://i.ytimg.com/vi/2Q2CGSN0F7s/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: move-it 280ms linear;
}

.username {
  font-size: 16px;
}

.login-input {
  background-color: rgba(237, 243, 238, 0.24);
  color: rgba(225, 217, 209, 1);
  width: 200px;
  font-size: 16px;
  margin-bottom: 12px;
  font-family: inherit;
}

.password {
  font-size: 16px;
}

.login-header {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: -5rem;
    margin-bottom: 2rem;
}

.submit-login {
    display: inline-block;
    flex-direction: row;
    background-color: black;
    box-shadow: black;
    border: none;
    transition: all 150ms;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(7, 107, 77);
    font-family: inherit;
}

.submit-login:active {
    transform: translatey(2px);
}

.demo {
    display: inline-block;
    flex-direction: row;
    background-color: rgb(7, 107, 77);
    box-shadow: black;
    border: none;
    transition: all 150ms;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    font-family: inherit;
}

.demo:active {
    transform: translatey(2px);
}

@keyframes move-it {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

ul.error-login {
  text-align: center;
  padding: none !important;
  padding-inline-start: 0;
}

.error-login > li {
  display: block;
  list-style-type: none;
  height: 40px;
  text-align: center;
  font-weight: 700;
}
