.gundam-modal-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    color: rgba(225, 217, 209, 1);
}

.gundam-modal-top {
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 400;
    color: rgba(225, 217, 209, 1);
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.gundam-modal-img {
    height: 600px;
    width: 600px;
    margin-bottom: 15px;
}

.gundam-modal-bot {
    font-size: 20px;
    color: rgba(225, 217, 209, 1);
}
